.App {
  text-align: center;
  background-color: #503d2e;
}

html,
body {
  background-color: #503d2e;
  height: 100vh;
  width: 100vw;
}

.button {
  background-color: #e3a72f;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 12px;
  padding: 10px 16px;
  font-weight: bold;
}

.button:hover {
  background-color: #a77b25;
}

.registerbutton {
  background-color: #d54b1a;
  color: white;
  border: none;
  font-size: 18px;

  border-radius: 12px;
  padding: 10px 16px;
  text-decoration: none;
}

.registerbutton:hover {
  background-color: #a53e18;
  color: white;
}

.headerbutton {
  background-color: #e3a72f;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 126px;
  padding: 8px 14px;
  text-decoration: none;
  margin: 6px;
}

.headerbutton:hover {
  background-color: #a77b25;
  color: white;
}

.atags {
  color: white;
  text-decoration: none;
}

.atags:hover {
  color: #e3a72f;
}

.sidebar {
  background-color: #058789;
  border-radius: 30px;
  height: 45vh;
  width: 45vh;
  text-align: center;
  padding: 10px 14px;
  font-weight: bold;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
